/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  color: #515354;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(
      292.62deg,
      rgba(0, 0, 0, 0.4) 15.83%,
      rgba(0, 0, 0, 0) 72.18%
    ),
    #a66afa;
  display: flex;
  align-items: center;
  justify-content: center;
}
